.document {
    display: flex;
    justify-content: center;
    align-items: center;
}

.document--container {
    width: 50%;
}

.document--container h1 {
    font-size: 48px;
}

.document--author {
    display: flex;
    align-items: center;

    margin-top: -35px;
}

.document--author img {
    background: #C4C4C4;

    width: 40px;
    height: 40px;
    border-radius: 100%;

    margin-right: 10px;
}

.document--author p.document--authorName {
    font-size: 18px;
    font-weight: lighter;
    color: #1A8917;

    margin-right: 10px;
}

.document--author p.document--releaseDate {
    font-size: 18px;
    font-weight: lighter;
}

.document--text {
    font-size: 24px;
    font-weight: lighter;
}

.document--image {
    width: 100%;
}

.document--subtitle {
    font-size: 20px;
    font-weight: 300;
    color: #6D6D6D;
}

.document--list h1 {
    font-size: 34px;
    font-weight: 500;
}

.document--list ol {
    margin-top: -25px;
}

.document--list ol li {
    color: #515151;
    font-size: 24px;
    font-weight: 300;
}

@media (max-width: 750px) {
    .document--container {
        width: 85%;
    }
    .document--container h1 {
        font-size: 35px;
    }
}